{% extends "IturbeSeguros.html" %}
{% load static %}
{% block content %}
<div class="container text-center"><font color="White">
    <h1 class="display-3"> Acerca de Mi </h1></font>
    
    <section class="testimonials text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3  mb-lg-1" src= {% static 'images/dimitrifranco.jpg' %} alt="Dimitri Franco"/>
                        <h2>Dimitri Franco</h2>
                        <p class="mb-2 fst-italic">
                            " Hola, mi nombre es Dimitri Franco, tengo 30 años, naci en Venezuela-El Tigre,Edo Anzoategui, me gradue como ingeniero en mantenimiento industrial, desde muy niño he tenido gran fascinación por la tegnologia, el deporte 
                            y la musica. Hoy en dia practico Crossfit y estoy interesado en comenzar a dar pasos por este mundo de la programacion, hago esta entrega de proyecto final como mi primer proyecto de programacion
                            , estoy bastante entusiasmado con continuar el crecimiento en este mundo y poder aportarlos en un gran proyecto mas adelante. "
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<br>
    {% endblock %}
