{% extends "IturbeSeguros.html" %}

{% block content %}
<div class="container text-center"><font color="White">
    <h1 class="display-3">Editar Poliza</h1>

    <section class="bg-light">
        <div class="container">
            <form class="p-9 p-lg-4" style=" width: 30vw; margin-left : 15vw; margin-Top : 0vw;"  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless col-md-20 fst-italic ">
                    {{ form.as_table }}
                </table>
                
                    <button class="btn btn-primary"> Guardar</button>
                    <a class="btn btn-primary" href={% url 'poliza' %} role="button"> Cancelar</a>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock %}