{% extends "IturbeSeguros.html" %}
{% load static %}
{% block content  %}
<font color="White">
<br>



<div class="container text-center">
    <h1 class="display-5"> Has Cambiado tu contraseña <br> <strong>Exitosamente!!</strong> </h1>
</div>
<div class="container text-center">
<img class="img-fluid rounded mb-3" src= {% static 'images/exitoso.png' %} alt=""/>
</div>
<div class="container text-center">
    <a href="{% url 'IturbeSeguros' %}" class="btn btn-primary" style=" width: 8vw;">Inicio</a>
</div>

<br>
<br>
<br>
<br>
<br>

{% endblock %}